extends ../layouts/main-layout.pug

block content
  main
    section.jumbotron.jumbotron-fluid
      .container
        h1.display-4 #{pageTitle}
        hr.my-2
        p.lead Insert a new password.

    .row
      .col.col-sm-0.col-md-3
      .col.col-md-6
        if (errorMessage)
          p= errorMessage
        form(action=('/new-password'), method="POST")
          p Your Email 
            strong= email
          label Insert a new password
          input(type="password", name="password").form-control
          label Confirm a new password
          input(type="password", name="confirmPassword").form-control
          input(type='hidden', name='passwordToken', value=(passwordToken))
          input(type='hidden', name='userId', value=(userId))
          input(type='hidden', name='_csrf', value=(csrfToken))
          input(type='hidden', name='email', value=(email))
          button(type="submit").btn.btn-primary.mt-3 Confirm new Password
      .col.col-sm-0.col-md-3
