extends ../layouts/main-layout.pug

block content
  main
    section.jumbotron.jumbotron-fluid
      .container
        h1.display-4 #{pageTitle}
        hr.my-2
        p.lead Forgot your password? No problem. Get a new one!

    .row
      .col.col-sm-0.col-md-3
      .col.col-md-6
        if (errorMessage)
          p= errorMessage
        form(action="/reset", method="POST")
          label Email
          input(type="email", name="email").form-control
          input(type='hidden', name='_csrf', value=(csrfToken))
          button(type="submit").btn.btn-primary.mt-3 Reset Password
      .col.col-sm-0.col-md-3
  