  [class*="display-"] {
  word-wrap: break-word;
}

/* a, button {
  color: darkblue;
} */

nav button {
  color: #007bff;
  border: none;
  background: inherit;
  cursor: pointer
}

a:hover {
  text-decoration: none;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 3rem;
}

.active {
  background-color: skyblue;
}

.article__card {
  max-width: 17rem;
  height: 100%;
}
.card-img-top {
  max-height: 8rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body > *:last-child {
  /* margin-top: auto; */
  margin-top: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-top: -3rem
}

.footer p {
  margin-bottom: 0;
}
